@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.myLink {
  @apply p-1 text-white block hover:text-yellow-500 cursor-pointer active:text-yellow-600;
}
.newLink {
  @apply my-2 p-1 text-white hover:bg-yellow-600 active:text-yellow-700 focus:outline-none focus:ring focus:ring-yellow-300 block;
}